Flask==3.0.3
Flask-CORS==5.0.0
Flask-SocketIO==5.4.1
geoip2==4.8.0
git+https://github.com/n0xa/hpfeeds3.git#egg=hpfeeds3
pymongo==4.10.1
PyYAML==6.0.2
requests==2.32.3
certifi==2024.8.30
python-socketio==5.11.4
python-engineio==4.9.1
eventlet==0.37.0
marshmallow==3.23.2
flask-marshmallow==1.2.1
Werkzeug==3.0.6
click==8.1.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
uwsgi
socketIO-client==0.7.2
