HPFEEDS_HOST=localhost
HPFEEDS_PORT=10000
HPFEEDS_USER=mnemosyne
HPFEEDS_SECRET=please_change_me
HPFEEDS_CHANNELS=cowrie.sessions,cowrie.commands,cowrie.logins,dionaea.connections,conpot.events
SOCKETIO_HOST=127.0.0.1
SOCKETIO_PORT=5000
